
.DS_Store
/cmake-build-debug/
/cmake-build-release/
/cmake-build-minsizerel/
/cmake-build-relwithdebinfo/
/.idea/
/build
/fonts
/debug.log
/imgui.ini
/config.xml
/bin
/exports
/*.json
/doc/html
/doc/latex
/samples
/.PVS-Studio
/res/appicon.aps
/doc/SQLiteSpy.db3
