.DS_Store
/*.exe
/*.json
/.PVS-Studio
/.cache
/.claude
/.idea/
/bin
/build
/cmake-build-debug/
/cmake-build-minsizerel/
/cmake-build-release/
/cmake-build-relwithdebinfo/
/config.xml
/debug.log
/doc/*.db3
/doc/html
/doc/latex
/exports
/fonts
/imgui.ini
/res/*.aps
/samples