[submodule "3rdparty/ezlibs"]
	path = 3rdparty/ezlibs
	url = https://github.com/aiekick/EzLibs.git
	branch = master
[submodule "3rdparty/imguipack"]
	path = 3rdparty/imguipack
	url = https://github.com/aiekick/imguipack.git
	branch = master
