
.DS_Store
/cmake-build-debug/
/cmake-build-release/
/cmake-build-minsizerel/
/cmake-build-relwithdebinfo/
/.idea/
/build
/fonts
/debug.log
/imgui.ini
/config.xml
/exports
/*.json
/doc/html
/doc/latex
/samples
/.PVS-Studio
/res/appicon.aps
/doc/SQLiteSpy.db3
/*.exe
/bin/sqlite3_debug.dll
/bin/debug
/bin/config.xml
/bin/freetype_debug.dll
/bin/glad_debug.dll
/bin/glfw3_debug.dll
/bin/iagp_debug.dll
/bin/imgui.ini
/bin/imguipack_debug.dll
/bin/LogToGraph_Windows_x64.exe
/bin/luajit_debug.dll
/bin/plugins/Plugin_LuaScripting_Windows_x64_Debug_debug.dll
/bin/debug/*.pdb
/bin/debug.log
/bin/release
/bin/sqlite3.dll
/bin/freetype.dll
/bin/glad.dll
/bin/glfw3.dll
/bin/iagp.dll
/bin/imguipack.dll
/bin/luajit.dll
